*{
    margin:0;
}


.deck {
    display:flex;
    flex-wrap: wrap;

}
.card{
    padding: 20px;
    height:310px; 
    width:222px; 
    border: 5px solid blue;
    margin-top: -220px;

}
.top{
    display:flex;
}
.middle{
    display:flex;
}
.bottom{
    display:flex;
}
.hide {
    display: none;
}
.pile{
    display: flex;
    flex-direction: column;
    margin-top: 220px;
}
.new-pile{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.childCard{
    justify-content: flex-end;
}
