*{
    margin:0;
    box-sizing: border-box;
}


.deck {
    display:flex;
    flex-wrap: wrap;

}
.card{
    height:310px; 
    width:222px; 
    border: 5px solid blue;
    margin-top: -220px;

}
.top{
    display:flex;
}
.middle{
    display:flex;
}
.bottom{
    display:flex;
}
.hide {
    display: none;
}
.pile{
    display: flex;
    flex-direction: column;
    margin-top: 220px;
}
/* .fill {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
img {
    width: 100%;
    height: 100%; 
    object-fit: fill;
} 
.image {
    /* Pointer events have to be off for all card images as they interfere with the drag and drop system */
    display: flex;
    pointer-events: none;
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

.ghost{
    border:none;

}
button {
    margin-top: 0px;
}
